﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="TaxCalculator._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
        <h1>Tax Calculator</h1>
        <p class="lead">I imagine that might want to know how much tax you're paying</p>
    </div>

    <div class="row">
        <div class="col-md-12">            
            
        </div>
    </div>

</asp:Content>
